##Step `1`: FOR Loop Tasks

1.Iterate through a list and print elements:

In [0]:
my_list = [1, 2, 3, 4, 5]
for element in my_list:
    display(element)

1

2

3

4

5

2. Calculate the sum of numbers within a range:

In [0]:
total = 0
for number in range(1, 11):  # Sum of numbers from 1 to 10
    total += number
print("Total:", total)

Total: 55

3. Generate a multiplication table using nested loops:

In [0]:
for i in range(1, 6):  # Rows
    for j in range(1, 6):  # Columns
        print(f"{i} x {j} = {i*j}", end="\t")
    print()  # New line after each row

1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25

##Step 2: IF Condition Tasks

1.Check if a number is positive, negative, or zero:

In [0]:
num = -10
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Negative

2. Compare two numbers and determine the larger one:

In [0]:
a, b = 5, 8
if a > b:
    print("a is larger")
elif b > a:
    print("b is larger")
else:
    print("Both are equal")

b is larger

3.Categorize a score into grades:

In [0]:
score = 85
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: F")

Grade: B

##Step 3: BREAK and PASS

1. Exit a loop upon encountering a specific value:

In [0]:
for num in range(1, 11):
    if num == 5:
        break
    print(num)

1
2
3
4

2.Skip a condition within a loop while continuing execution:

In [0]:
for num in range(1, 11):
    if num == 5:
        pass
    else:
        print(num)

1
2
3
4
6
7
8
9
10

3. Combine BREAK and PASS for advanced loop control.

In [0]:
for number in range(1, 11):  
    if number == 5:
        pass  
        print(f"Encountered {number}, using pass.")
    elif number == 8:
        print("Encountered 8, breaking the loop.")
        break
    else:
        print(f"Processing number: {number}")

Processing number: 1
Processing number: 2
Processing number: 3
Processing number: 4
Encountered 5, using pass.
Processing number: 6
Processing number: 7
Encountered 8, breaking the loop.

##Step 4: Functions

1. Calculate the factorial of a number:

In [0]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(15))

1307674368000

2. Reverse a string using a defined function:

In [0]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("Nachiket"))

tekihcaN

3.Identify the maximum value in a list:

In [0]:
def max_in_list(numbers):
    return max(numbers)

print(max_in_list([10, 20, 30, 40]))

40

##Step 5: Date in Databricks

1. Retrieve the current date:

In [0]:
from pyspark.sql.functions import current_date
df = spark.createDataFrame([(1,)], ["id"])
df.withColumn("current_date", current_date()).show()

+---+------------+
| id|current_date|
+---+------------+
|  1|  2024-11-29|
+---+------------+

2. Extract components like day, month, and year:

In [0]:
from pyspark.sql.functions import year, month, day
df.withColumn("year", year(current_date())) \
  .withColumn("month", month(current_date())) \
  .withColumn("day", day(current_date())).show()

+---+----+-----+---+
| id|year|month|day|
+---+----+-----+---+
|  1|2024|   11| 29|
+---+----+-----+---+

3.Add days to a date column:

In [0]:
from pyspark.sql.functions import date_add
df.withColumn("future_date", date_add(current_date(), 10)).show()

+---+-----------+
| id|future_date|
+---+-----------+
|  1| 2024-12-09|
+---+-----------+

##Step 6: Filter

1.Filter rows in a DataFrame:

In [0]:
data = [("Nachiket", 25), ("Arjun", 30), ("Dhruti", 22)]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, columns)
df.filter(df.Age >= 25).show()

+--------+---+
|    Name|Age|
+--------+---+
|Nachiket| 25|
|   Arjun| 30|
+--------+---+

2. Apply multiple conditions:

In [0]:
df.filter((df.Age > 20) & (df.Age < 30)).show()

+--------+---+
|    Name|Age|
+--------+---+
|Nachiket| 25|
|  Dhruti| 22|
+--------+---+

3. Filter rows matching a specific string:

In [0]:
df.filter(df.Name == "Nachiket").show()

+--------+---+
|    Name|Age|
+--------+---+
|Nachiket| 25|
+--------+---+

##Step 7: New Column

1. Create a column with arithmetic operations:

In [0]:
from pyspark.sql.functions import col
df.withColumn("Age_Double", col("Age") * 2).show()
df.withColumn("Age_Triple", col("Age") * 3).show()

+--------+---+----------+
|    Name|Age|Age_Double|
+--------+---+----------+
|Nachiket| 25|        50|
|   Arjun| 30|        60|
|  Dhruti| 22|        44|
+--------+---+----------+

+--------+---+----------+
|    Name|Age|Age_Triple|
+--------+---+----------+
|Nachiket| 25|        75|
|   Arjun| 30|        90|
|  Dhruti| 22|        66|
+--------+---+----------+

2. Categorize data using conditional logic:

In [0]:
from pyspark.sql.functions import when
df.withColumn("Category", when(col("Age") > 25, "Senior").otherwise("Junior")).show()

+--------+---+--------+
|    Name|Age|Category|
+--------+---+--------+
|Nachiket| 25|  Junior|
|   Arjun| 30|  Senior|
|  Dhruti| 22|  Junior|
+--------+---+--------+

3. Add a column with transformed string values:

In [0]:
%python
from pyspark.sql.functions import upper, col

# Ensure the column "Name" exists in the DataFrame
if "Name" in df.columns:
    df = df.withColumn("Name_Upper", upper(col("Name")))
    display(df)
else:
    print("Column 'Name' does not exist in the DataFrame.")

Name,Age,Name_Upper
Nachiket,25,NACHIKET
Arjun,30,ARJUN
Dhruti,22,DHRUTI

##Step 8: Literals

1. Create a DataFrame using a string literal:

In [0]:
data = [("1", "DATAFLOW"),("2", "Data1"),("3", "Data2"),("4", "Data3"),("5", "Data4")]
columns = ["ID", "Literal"]
df = spark.createDataFrame(data, columns)
df.show()

+---+--------+
| ID| Literal|
+---+--------+
|  1|DATAFLOW|
|  2|   Data1|
|  3|   Data2|
|  4|   Data3|
|  5|   Data4|
+---+--------+

2.Filter rows based on a string literal:

In [0]:
df.filter(df.Literal == "DATAFLOW").show()
df.filter(df.Literal == "Data1").show()

+---+--------+
| ID| Literal|
+---+--------+
|  1|DATAFLOW|
+---+--------+

+---+-------+
| ID|Literal|
+---+-------+
|  2|  Data1|
+---+-------+

3. Insert a string literal as a constant:

In [0]:
from pyspark.sql.functions import lit

df = df.withColumn("New_Column", lit("NCPL"))
display(df)

ID,Literal,New_Column
1,DATAFLOW,NCPL
2,Data1,NCPL
3,Data2,NCPL
4,Data3,NCPL
5,Data4,NCPL

##Step 9: Joins

1. Perform inner, left, and full outer joins:

In [0]:
df1 = spark.createDataFrame([(1, "Nick"), (2, "Rick")], ["ID", "Name"])
df2 = spark.createDataFrame([(1, "HR"), (3, "IT")], ["ID", "Dept"])
df1.join(df2, on="ID", how="inner").show()  # Inner join
df1.join(df2, on="ID", how="left").show()  # Left join
df1.join(df2, on="ID", how="outer").show()  # Full outer join

+---+----+----+
| ID|Name|Dept|
+---+----+----+
|  1|Nick|  HR|
+---+----+----+

+---+----+----+
| ID|Name|Dept|
+---+----+----+
|  1|Nick|  HR|
|  2|Rick|NULL|
+---+----+----+

+---+----+----+
| ID|Name|Dept|
+---+----+----+
|  1|Nick|  HR|
|  2|Rick|NULL|
|  3|NULL|  IT|
+---+----+----+

2.Merge DataFrames while handling null values:

In [0]:
from pyspark.sql.functions import coalesce
df1.join(df2, on="ID", how="outer") \
   .withColumn("Name_or_Dept", coalesce(df1.Name, df2.Dept)).show()

+---+----+----+------------+
| ID|Name|Dept|Name_or_Dept|
+---+----+----+------------+
|  1|Nick|  HR|        Nick|
|  2|Rick|NULL|        Rick|
|  3|NULL|  IT|          IT|
+---+----+----+------------+